.dashboard {
    box-sizing: border-box;
    position: absolute;
    width: 14vw !important;
    height: 62px;
    left: 5px;
    background: #ffffff !important;
    padding-top: 15px;
    padding-left: 15px;
}

.dashboard-active a {
    color: #000000 !important;
    font-weight: unset !important;
}

.red-card {
    display: block !important;
}

.blk-card {
    display: none !important;
}

.red-dash {
    display: none !important;
}

.blk-dash {
    display: block !important;
}

.dashboard-active a:hover {
    font-weight: 700 !important;
    font-size: 18.9713px !important;
    letter-spacing: 0.01em;
    color: #BF1B16 !important;
    text-decoration: none;
}

.menu-item:hover .red-dash {
    display: block !important;
}

.menu-item:hover .blk-dash {
    display: none !important;
}

.red-res {
    display: none!important;
}

.blk-res {
    display: block!important;
}

.marker {
    top: 140px !important;
    z-index: 999;
}

.donor-cards {
    position: absolute;
    width: 14.4vw;
    height: 64.25px !important;
    top: 128px !important;
    left: 0px !important;
    background: #F8F8F8 !important;
    margin-bottom: 5px;
}

.donor-cards img {
    left: 23px !important;
    top: 0px;
    margin-top: 17px !important;
}

.cards-nav a {
    left: 72.74000000000001px !important;
    margin-top: 17px !important;
    position: absolute;
    width: 14.4vw;
    height: 28px;
    top: 2px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700 !important;
    font-size: 18.9713px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #BF1B16 !important;
    text-decoration: none;
}

.types-reservation {
    left: 914px !important;
}

.typebutton-reservation {
    position: absolute;
    top: 47px;
    left: 1086px !important;
}

.addnew-reservation {
    left: 669px !important;
}

.addbutton-reservation {
    left: 836px;
}

.edit-btn {
    margin: 0px -7px 0px -30px !important;
}

.delete-btn {
    margin: 0px 20px 0px -110px !important;
}

.addnew-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9.05963px;
    gap: 9.06px;
    position: absolute;
    width: 203.66px;
    height: 37.49px;
    left: 1172px;
    top: 32px;
    background: #640E0B;
    border-radius: 10.8716px;
}

.addnew-card img {
    left: 1172px;
}

.addbutton-card {
    position: absolute;
    left: 1339px;
    top: 50px;
}

.cover {
    box-sizing: border-box;
    position: absolute;
    width: 734px;
    height: 608px;
    left: 60px;
    top: 153px;
    background: #FFFFFF;
    border: 1.81193px solid #ECEEF7;
    border-radius: 6px;
}

.head-back {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: #000000;
    text-align: center;
}

.fb-txt1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.3px;
    color: #000000;
}
.det-div {
    text-align: left;
    margin-left: 30px;
    margin-top: 40px;
}

.fb-span1 {
        color: #bf1b16;
}

.right {
    box-sizing: border-box;
    position: absolute;
    width: 607px;
    height: 291px;
    left: 827px;
   top: 153px;
    background: #FFFFFF;
    border: 1.81193px solid #ECEEF7;
    border-radius: 6px;
}

.fb-txt2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9.05963px;
    gap: 9.06px;
    /* position: absolute; */
    width: 304.65999999999997px;
    height: 33.49px;
    left: 699px;
    top: 32px;
    /* background: #f1f1f1; */
    border-radius: 10.8716px 0px 0px 10.8716px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18.6835px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.01em;
    margin-left: 52px;
    color: #640e0b;
    border: 2px solid;
    border-color: #640e0b;
}

.fb-txt3{
        display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9.05963px;
    gap: 9.06px;
    /* position: absolute; */
    width: 148.65999999999997px;
    height: 37.49px;
    left: 699px;
    top: 32px;
    background: #640e0b;
    border-radius: 0 10.8716px 10.8716px 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18.6835px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.01em;
    margin-left: 375px;
    color: white;
    margin-top: -74px;


}

.addbutton-card {
    position: absolute;
    left: 1346px;
    top: 47px;
}

.right-bottom {
    box-sizing: border-box;
    position: absolute;
    width: 607px;
    height: 291px;
    left: 827px;
    top: 470px;
    background: #FFFFFF;
    border: 1.81193px solid #ECEEF7;
    border-radius: 6px;
}

.enough {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 30px;
    letter-spacing: 0.3px;
    color: #bf1b16;
    margin-top: 56px;
    text-align: center;
}

.accept {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9.05963px;
    gap: 9.06px;
    
    width: 203.66px;
    height: 37.49px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12.6835px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FCFEFE;
    cursor: pointer;
    background: #640E0B;
    border-radius: 10.8716px;
            margin-left: 80px;
    margin-top: 56px;
}

.accept:hover {
    font-size: 13.6835px;
}

.reject {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9.05963px;
    gap: 9.06px;
    width: 203.66px;
    height: 37.49px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12.6835px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #640e0b;
    cursor: pointer;
    background: #e8e8e8;
    border-radius: 10.8716px;
    margin-left: 317px;
    margin-top: -55px;
}

.reject:hover {
    font-size: 13.6835px;
}

.reject-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9.05963px;
    gap: 9.06px;
    width: 203.66px;
    height: 37.49px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12.6835px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #640e0b;
    cursor: pointer;
    background: #e8e8e8;
    border-radius: 10.8716px;
        margin-left: 195px;
    margin-top: 39px;
}

.reject-2:hover {
    font-size: 13.6835px;
}