.brown-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9.05963px;
    gap: 9.06px;
    position: absolute;
    width: 282.66px;
    height: 52.49px;
    left: 917px;
    top: 667px;
    background: #640E0B;
    border-radius: 10.8716px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12.6835px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FCFEFE;
    cursor: pointer;
    border: 1px #949494 solid;
}

.addbutton {
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9.05963px;
    gap: 9.06px;
    position: absolute;
    left: 1150px;
    top: 674px;
    border-radius: 10.8716px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12.6835px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FCFEFE;
    cursor: pointer;
}

.outline-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 203.66px;
    height: 52.49px;
    left: 1217px;
    top: 666px;
    background: #F7F7F7;
    border: 1px solid #640E0B;
    border-radius: 10.8716px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12.6835px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #640E0B;
    cursor: pointer;
}

.cancelbutton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9.05963px;
    gap: 9.06px;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 1370px;
    top: 674px;
    border-radius: 10.8716px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12.6835px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #640E0B;
}

