.reservation-filter {
    left: 915px !important;
}
.reservation-filter-img {
    
    left: 1096px !important;
}
.types-reservation {
    left: 652px !important;
        width: 220.66px !important;
}

.typebutton-reservation {
    left: 849px !important;
}

.addnew-reservation {
    left: 403px !important;
}

.addbutton-reservation {
    left: 578px !important;
}