.expired-stock-btn {
    left: 722px !important;
}

.expired-stocks-img {
    left: 902px !important;
}

.search-donor {
    position: absolute;
    
    
    width: 203.66px;
    height: 55.49px;
    
    
    background: #F7F7F7;
    border-radius: 10.8716px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12.6835px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #640E0B;
    border: 0;
    margin-top: 32px;
    margin-left:-220px;
}

.search-donor::placeholder {
    color: #640E0B;
}